{
  "operations": [
    {
      "operation": "uk.gov.gchq.gaffer.graph.export.InitialiseGafferJsonExport",
      "handler": {
        "class": "uk.gov.gchq.gaffer.graph.export.InitialiseGafferJsonExportHandler",
        "timeToLive": 86400000,
        "storeProperties": {
          "gafferStoreClass": "<store class>",
          "gafferStorePropertiesClass": "<store properties class>",
          "<other property key>": "<other property value>"
        }
      }
    }
  ]
}