<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  ~ Copyright 2017-2018 Crown Copyright
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<web-app
        metadata-complete="false"
        version="3.1">

    <display-name>Basic Demo Rest Api</display-name>

    <!-- Copied from Gaffer rest api web.xml-->
    <listener>
        <listener-class>uk.gov.gchq.gaffer.rest.ServletLifecycleListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>Gaffer REST example v1</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>
                uk.gov.gchq.gaffer.rest.application.ApplicationConfigV1
            </param-value>
        </init-param>
        <init-param>
            <param-name>swagger.scanner.id</param-name>
            <param-value>v1</param-value>
        </init-param>
        <init-param>
            <param-name>swagger.config.id</param-name>
            <param-value>v1</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
    </servlet>

    <servlet>
        <servlet-name>Gaffer REST example v2</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>
                uk.gov.gchq.gaffer.rest.application.ApplicationConfigV2
            </param-value>
        </init-param>
        <init-param>
            <param-name>swagger.scanner.id</param-name>
            <param-value>v2</param-value>
        </init-param>
        <init-param>
            <param-name>swagger.config.id</param-name>
            <param-value>v2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
        <async-supported>true</async-supported>
    </servlet>

    <servlet-mapping>
        <servlet-name>Gaffer REST example v1</servlet-name>
        <url-pattern>/v1/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Gaffer REST example v2</servlet-name>
        <url-pattern>/v2/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Gaffer REST example v2</servlet-name>
        <url-pattern>/latest/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>OriginFilter</filter-name>
        <filter-class>uk.gov.gchq.gaffer.rest.filter.OriginFilter</filter-class>
        <async-supported>true</async-supported>
    </filter>

    <filter-mapping>
        <filter-name>OriginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>

